body {
  color: #111111;
}

.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar {
  background-color: #dedede;
}

.top-nav-collapse {
  background-color: #4285f4;
}

.imgC1 {
  background-image: url("./img/img1.jpg");
  background-size: cover;
}

.imgC2 {
  background-image: url("./img/img2.jpg");
  background-size: cover;
}

.imgC3 {
  background-image: url("./img/img3.jpg");
  background-size: cover;
}

@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #4285f4;
  }
}

.embed {
  width: 1000px;
  height: 500px;
}
